:root {
    --primary-color: #FAFAFA;
    --primay-text-color: #262626;
    --secondary-color: #DBDBDB;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--primary-color);
}

.col {
    background-clip: content-box;
    margin-top: 8px;
    margin-bottom: 8px;
}

.avatar__share{
    background-image: linear-gradient(to left bottom, #DC00B0, #FF4A8B,#FFC800);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.bgd-content{
    background-color: #FFFFFF;
    width: 100%;
    overflow-x:auto;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
}
.name{
    text-align: center;
    font-size: 1.4rem;
    width: 64px;
    color: var(--primay-text-color);
}
.first-text{
    font-size: 1.6rem;
    font-weight: 600;
    color: #232121;
}
.second-text{
    font-size: 1.6rem;
    font-weight: 400;
    color: #292727;
}
.third-text{
    font-size: 1.6rem;
    font-weight: 400;
    color: #827d7d;
}
.hover:hover{
    opacity: 0.5;
    cursor: pointer;
}
.blue{
    color: #0095F6 !important;
}
/* =====================NAV BAR =================*/
.navbar {
    width: 101%;
    height: 64px;
    position: fixed;
    border-bottom: 1px solid #DBDBDB;
    background-color: #FFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.navbar .row {
    margin: 0 10px;
}

.navbar__element {
    height: 34px;
}

.navbar__instar--img {}

.navbar__instar--img a img {
    max-width: 120px;

}

.navbar_search--box {
    display: flex;
    align-items: center;
    width: 90%;
    height: 34px;
    border-radius: 8px;
    background-color: #EFEFEF;
}

.navbar_search--icon {
    font-size: 16px;
    color: #8E8E8E;
    padding: 0 15px;
}

.navbar_search--text {
    font-size: 20px;
    color: #8E8E8E;
}

.navbar_search--input {
    outline: none;
    background: none;
    border: none;
    font-size: 1.8rem;
}

.navbar__icons {
    display: flex;
    justify-content: flex-end;
}

.navbar__icons .row {

    width: 90%;
}

.navbar__icon {
    font-size: 2.4rem;
    padding: 0 6px;

}

.navbar__icon--avatar {}

.navbar__icon--avatar img {
    width: 28px;
    border-radius: 50%;
    border: 1px solid #DBDBDB;
}




/* ==================================BODY========================================= */

.body {
    padding-top: 86px;
    height: 1000px;
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
}
.body .row{
    display: flex;
    justify-content: center;
    position: relative;
}

/* ================================Header conent================================= */
.body__newPost {
    width: 200%;
    display: flex;
    justify-content: flex-start !important;
}

.body__newPost--infor {
    padding: 20px 0px 20px 20px;
}

.body__newPost--avatar {
    width: 64px;
    height: 64px;
    
}

.body__newPost--avatar img {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 3px solid var(--secondary-color);
    
}

.body__newPost--name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.body__newPost--name:hover{
    cursor: pointer;
    white-space: inherit;
}





/* =================================Body content================================ */
.body__newContent{
    margin-top: 14px;
}
.body__newContent--head{
    display: flex;
    justify-content: space-between;
    padding: 4px;
}
.body__newContent--head-info{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.body__newContent__head--avatar{
    width: 42px;
    height: 42px;
}
.body__newContent__head--avatar img{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    background-repeat: no-repeat;
}
.body__newContent__head--name{
    display: flex;
    align-items: center;
    padding-left: 4px;
    font-weight: 500;
    font-size: 1.7rem;
}
.body__newContent__head--menu{
    display: flex;
    align-items: center;
    padding-right: 10px;
    font-size: 1.6rem;
    color: #262626;
    cursor: pointer;
}
.body__newContent--img {
    position: relative;
}
.body__newContent--img img{
    margin-top: 6px;
    width: 100%;
    
}
.body__newContent--icon{
    position: absolute;
    top: 50%;
    right: 4%;
    font-size: 1.8rem;
    background-color: rgba(250, 250, 250, 0.401);
    color:  #8f8f8c;
    padding: 5px 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px 1px #262626;
    cursor: pointer;
}

.body__newContent--icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}
.body__newContent--iconFirst i{
    font-size: 2.4rem;
    padding: 0 8px;
}
.body__newContent--iconSecond{
    padding-right: 26px;
}
.body__newContent--iconSecond i{
    padding: 0 2px;
    font-size: 0.6rem;
    color: #A8A8A8;
}

.body__newContent--iconThird{
    font-size: 2.4rem;
    padding-right: 8px;
}


.body__newContent--like{
    display: flex;
    align-items: center;
    padding: 4px 12px;
}
.body__newContent--like img{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.body__newContent--like-text{
    display: flex;
    align-items: baseline;
    padding-left: 4px;
}
.body__newContent--like-text div{
    padding: 0 2px;
}

.body__newContent--content{
    padding: 4px 10px;
    display: flex;
}
.body__newContent--content div{
    padding-left: 2px;
}



.body__newContent--comment{
    padding: 2px 10px;
    width: 100%;
}
.body__newContent--comment div{
    display: flex;
    padding: 2px 2px 2px 0;
}
.body__newContent-comment-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body__newContent-comment-body i{
    font-size: 1.2rem;
}



.body__newContent--comment-add{
    border-top: 1px solid var(--secondary-color);
    padding: 16px 10px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body__newContent--comment-add-first{
    display: flex;
    align-items: center;

}
.body__newContent--comment-add-first i{
    font-size: 2.4rem;
    cursor: pointer;
}
.body__newContent--comment-add-first-text{
    font-size: 1.6rem;
    padding-left: 20px;
}
.body__newContent--comment-add-last{
    color: #addbf9;
    font-size: 1.8rem;
    cursor: default;
}



/* ===============================BODY INFOR================================== */
.body__infor {
    
}

.body__infor--head{
    position: fixed;
    left: 56.5%;
    right: 23%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body__infor--head-infor{
    display: flex;
    align-items: center;
}
.body__infor--head-infor img{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    border-radius: 49%;
    border: 1px solid #d6d1d1;
    cursor: pointer;
}
.body__infor--head-name{
    padding-left: 18px;
}
.body__infor--head-transfer{
    font-size: 1.4rem;
    right: 50px;
}


.body__infor--container{
    position: fixed;
    top: 21%;
    left: 56.5%;
    right: 23%;
}
.body__infor--container-head{
    display: flex;
    padding-top: 16px;
    justify-content: space-between;
}
.body__infor--container-exm{
    color: #8f8f8c;
    font-weight: 600;
}
.body__infor--container-seeAll{
    font-size: 1.4rem;
}


.body__infor--container-body{
    padding: 20px 20px 0px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.body__infor--container-offer{
    display: flex;
}
.body__infor--container-offer img{
    width: 36px;
    height: 36px;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 1px solid #8f8f8c;
}
.body__infor--container-name{
    padding-left: 10px;
}
.body__infor--container-sencondname{
    font-size: 1.4rem;
}
.body__infor--container-follow{
    font-size: 1.4rem;
}


.body__infor--footer{
    position: fixed;
    top: 68%;
    left: 56.5%;
    right: 23%;
}
.body__infor--footer-contact{
    width: 80%;
    font-size: 1.4rem;
}
.body__infor--footer-contact a{
    text-decoration: none;
    color: #b5b0b0;
}
.body__infor--footer-contact a::after{
    content: '\00B7';
    margin: 0 2px 0 6px;
}
.body__infor--footer-license{
    font-size: 1.4rem;
    padding-top: 20px;
    color: #b5b0b0;
}